<!DOCTYPE html>
<html lang="en-CA" prefix="og: http://ogp.me/ns/{{meta.ogNamespace}}#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="canonical" href="{{@canonical}}" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="theme-color" content="#f7f7f7" />
    {{#if @preloadImage}}
      <link
        rel="preload"
        as="image"
        href="{{@preloadImage.href}}"
        {{#if @preloadImage.type}}type="{{@preloadImage.type}}"{{/if}}
        {{#if @preloadImage.imagesrcset}}imagesrcset="{{@preloadImage.imagesrcset}}"{{/if}}
        {{#if @preloadImage.imagesizes}}imagesizes="{{@preloadImage.imagesizes}}"{{/if}}
      />
    {{/if}}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{{stylesHref}}" />
    <title>{{@meta.title}}</title>
    <meta name="description" content="{{@meta.description}}" />
    <meta name="keywords" content="{{@meta.keywords}}" />
    <meta property="og:locale" content="en_CA" />
    {{#each @meta.metaTags}}
      <meta property="{{this.property}}" content="{{this.content}}" />
    {{/each}}
  </head>

  <body>
    <!-- Facebook Share Button Loader / Actual Button Further Down -->
    <div id="fb-root"></div>
    <!-- Navigation -->
    <div class="navbar-fixed">
      <ul id="more-dropdown" class="dropdown-content">
        <li>
          <a href="/news" class="blue-grey-text text-darken-4">News</a>
        </li>
        <li>
          <a href="/referral-sources" class="blue-grey-text text-darken-4">Referral Sources</a>
        </li>
        <li>
          <a href="/service-area" class="blue-grey-text text-darken-4">Service Area</a>
        </li>
      </ul>
      <ul id="care-programs-dropdown" class="dropdown-content">
        <li>
          <a href="/care-programs#mainstream" class="blue-grey-text text-darken-4">Mainstream</a>
        </li>
        <li>
          <a href="/care-programs#special-needs" class="blue-grey-text text-darken-4">Special Needs</a>
        </li>
        <li>
          <a href="/care-programs#trauma-focused" class="blue-grey-text text-darken-4">Trauma-Focused Care</a>
        </li>
      </ul>
      <ul id="foster-parenting-dropdown" class="dropdown-content">
        <li>
          <a href="/foster-care-in-ontario" class="blue-grey-text text-darken-4">Foster Care in
            Ontario</a>
        </li>
        <li>
          <a href="/what-is-foster-parenting" class="blue-grey-text text-darken-4">What Is Foster
            Parenting?</a>
        </li>
        <li>
          <a href="/faq" class="blue-grey-text text-darken-4">Frequently Asked Questions</a>
        </li>
        <li>
          <a href="/children-in-care" class="blue-grey-text text-darken-4">Children In Care</a>
        </li>
        <li>
          <a href="/family-involvement" class="blue-grey-text text-darken-4">Family Involvement</a>
        </li>
        <li>
          <a href="/foster-parent-application-process" class="blue-grey-text text-darken-4">Foster
            Parent Application Process</a>
        </li>
        <li>
          <a href="/foster-home-quiz" class="blue-grey-text text-darken-4">Foster Home Quiz</a>
        </li>
      </ul>
      <nav>
        <div class="nav-wrapper blue-grey">
          <a
            href="/"
            class="brand-logo left hide-on-med-and-down"
            style="margin-left: 1rem;"
          >
            <img
              src="/images/logo-300-300-white.png"
              alt="Annie's Havens Logo"
            />
          </a>
          <a
            href="/"
            class="brand-logo hide-on-large-only white-text"
          >
            <img
              src="/images/logo-300-300-white.png"
              alt="Annie's Havens Logo"
            />
          </a>
          <button
            type="button"
            data-target="mobile-nav"
            class="sidenav-trigger white-text btn-flat"
            aria-label="Open navigation menu"
          >
            <i class="material-symbols-outlined" aria-hidden="true">menu</i>
          </button>
          <ul class="right hide-on-med-and-down my-nav-links">
            <li>
              <a href="/" class="white-text">Home</a>
            </li>
            <li>
              <a
                class="white-text dropdown-trigger"
                data-target="foster-parenting-dropdown"
              >Foster Parenting
                <i class="material-symbols-outlined right" aria-hidden="true">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a
                class="white-text dropdown-trigger"
                href="/care-programs"
                data-target="care-programs-dropdown"
              >Foster Care Programs
                <i class="material-symbols-outlined right" aria-hidden="true">arrow_drop_down</i>
              </a>
            </li>
            <li>
              <a class="white-text" href="/about-us">About Us</a>
            </li>
            <li>
              <a class="white-text" href="/contact-us">Contact</a>
            </li>
            <li>
              <a
                class="white-text dropdown-trigger"
                data-target="more-dropdown"
              >More...
                <i class="material-symbols-outlined right" aria-hidden="true">arrow_drop_down</i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <ul class="sidenav" id="mobile-nav">
      <li><a href="/" class="grey-text text-darken-4">Home</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="nav-subheader">Foster Parenting</a></li>
      <li><a href="/foster-care-in-ontario">Foster Care in
          Ontario</a></li>
      <li><a href="/what-is-foster-parenting">What Is Foster
          Parenting?</a></li>
      <li><a href="/faq">Frequently Asked Questions</a></li>
      <li><a href="/children-in-care">Children In Care</a></li>
      <li><a href="/family-involvement">Family Involvement</a></li>
      <li><a href="/foster-parent-application-process">Foster
          Parent Application Process</a></li>
      <li><a href="/foster-home-quiz">Foster Home Quiz</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a href="/care-programs" class="nav-subheader">Care Programs</a></li>
      <li><a href="/care-programs#mainstream">Mainstream</a></li>
      <li><a href="/care-programs#special-needs">Special Needs</a></li>
      <li><a href="/care-programs#trauma-focused">Trauma-Focused Care</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a href="/about-us">About Us</a></li>
      <li><a href="/contact-us">Contact</a></li>
      <li>
        <div class="divider"></div>
      </li>
      <li><a class="nav-subheader">More...</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/referral-sources">Referral Sources</a></li>
    </ul>
    <!-- End Navigation -->

    {{{body}}}

    <!-- Footer -->
    {{#unless @noFooter}}
      <footer class="page-footer grey lighten-3">
        <div class="container">
          <div class="row">
            <div class="col l2 s12 m2" style="text-align: center;">
              <img
                src="/images/logo-300-300.png"
                alt="Annie's Havens logo"
              />
            </div>
            <div class="col l4 offset-l2 s12 m4 offset-m2">
              <h5 class="grey-text text-darken-4">Social</h5>
              <ul>
                <li>
                  <div
                    class="fb-share-button"
                    data-href="https://annieshavens.ca"
                    data-layout="button_count"
                  >
                  </div>
                </li>
                <li>
                  <a
                    href="https://twitter.com/annieshavens?ref_src=twsrc%5Etfw"
                    class="twitter-follow-button"
                    data-show-count="false"
                  >Follow @annieshavens</a>
                </li>
              </ul>
            </div>
            <div class="col l4 s12 m4">
              <h5 class="grey-text text-darken-4">Legal</h5>
              <ul>
                <li>
                  <a
                    class="grey-text text-darken-4"
                    href="/privacy-policy"
                  >Privacy Policy</a>
                </li>
                <li>
                  <a
                    class="grey-text text-darken-4"
                    href="#"
                    id="manage-cookies"
                  >Manage Cookies</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container blue-grey-text text-darken-4">
            &copy;&nbsp;<span id="copyright">2024</span>
            <a class="right" href="/sitemap.xml">Sitemap</a>
          </div>
        </div>
      </footer>
    {{/unless}}
    <!-- End Footer -->

    <!-- Scripts -->
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <script defer src="{{scriptsSrc}}"></script>
    {{! Page JS }}
    {{{_sections.script}}}
    <div
      id="cookie-consent"
      class="cookie-consent"
      role="dialog"
      aria-live="polite"
      aria-label="Cookie consent"
      aria-modal="false"
    >
      <div class="cookie-consent__content">
        <div class="cookie-consent__text">
          <strong>Cookie preferences</strong>
          <p>
            We use optional cookies for analytics and social media, plus functional
            cookies for form protection. Choose what you want to enable.
          </p>
        </div>
        <div class="cookie-consent__options">
          <label class="cookie-consent__option">
            <input id="consent-tracking" type="checkbox" />
            <span>Tracking (analytics + social)</span>
          </label>
          <label class="cookie-consent__option">
            <input id="consent-functional" type="checkbox" />
            <span>Functional (form protection)</span>
          </label>
        </div>
        <div class="cookie-consent__actions">
          <button id="cookie-save" type="button" class="btn blue-grey">
            Save Preferences
          </button>
          <button id="cookie-accept" type="button" class="btn-flat">
            Accept All
          </button>
          <button id="cookie-decline" type="button" class="btn-flat">
            Decline All
          </button>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const CONSENT_KEY = 'ah-consent';
        const consentBanner = document.getElementById('cookie-consent');
        const acceptButton = document.getElementById('cookie-accept');
        const declineButton = document.getElementById('cookie-decline');
        const saveButton = document.getElementById('cookie-save');
        const manageLink = document.getElementById('manage-cookies');
        const trackingInput = document.getElementById('consent-tracking');
        const functionalInput = document.getElementById('consent-functional');

        const loadScript = (src, attrs = {}) => {
          const script = document.createElement('script');
          script.src = src;
          Object.entries(attrs).forEach(([key, value]) => {
            script.setAttribute(key, value);
          });
          document.head.appendChild(script);
        };

        const setRecaptchaState = (enabled) => {
          document.querySelectorAll('.g-recaptcha').forEach((button) => {
            if (!button.dataset.initialDisabled) {
              button.dataset.initialDisabled = button.disabled ? 'true' : 'false';
            }
            if (!enabled) {
              button.dataset.consentDisabled = 'true';
              button.disabled = true;
              button.classList.add('disabled');
              button.setAttribute('aria-disabled', 'true');
              return;
            }
            if (button.dataset.consentDisabled === 'true') {
              const wasDisabled = button.dataset.initialDisabled === 'true';
              button.disabled = wasDisabled;
              button.classList.toggle('disabled', wasDisabled);
              if (!wasDisabled) {
                button.removeAttribute('aria-disabled');
              }
              button.dataset.consentDisabled = 'false';
            }
          });
        };

        const loadTrackingScripts = () => {
          if (window.__ahTrackingLoaded) return;
          window.__ahTrackingLoaded = true;

          window.dataLayer = window.dataLayer || [];
          function gtag(){ dataLayer.push(arguments); }
          gtag('js', new Date());
          gtag('config', 'G-MEVS4XBLNL');
          gtag('config', 'G-RED0CX4VTP');
          loadScript('https://www.googletagmanager.com/gtag/js?id=G-MEVS4XBLNL', { async: '' });
          loadScript('https://www.googletagmanager.com/gtm.js?id=GTM-PJJX5XT', { async: '' });
          loadScript('https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0', { async: '', defer: '', id: 'facebook-jssdk' });
          loadScript('https://platform.twitter.com/widgets.js', { async: '', defer: '', charset: 'utf-8' });
        };

        const loadFunctionalScripts = () => {
          if (window.__ahFunctionalLoaded) return;
          window.__ahFunctionalLoaded = true;
          loadScript('https://www.google.com/recaptcha/api.js', { async: '', defer: '' });
          setRecaptchaState(true);
        };

        const applyConsent = (consent) => {
          currentConsent = consent;
          localStorage.setItem(CONSENT_KEY, JSON.stringify(consent));
          if (consentBanner) {
            consentBanner.style.display = 'none';
          }
          if (trackingInput) trackingInput.checked = Boolean(consent.tracking);
          if (functionalInput) functionalInput.checked = Boolean(consent.functional);
          if (consent.tracking) {
            loadTrackingScripts();
          }
          if (consent.functional) {
            loadFunctionalScripts();
          } else {
            setRecaptchaState(false);
          }
        };

        const openBanner = (consent) => {
          if (trackingInput) trackingInput.checked = Boolean(consent?.tracking);
          if (functionalInput) functionalInput.checked = Boolean(consent?.functional);
          if (consentBanner) {
            consentBanner.style.display = 'block';
          }
        };

        const existingRaw = localStorage.getItem(CONSENT_KEY);
        let existing = null;
        if (existingRaw) {
          try {
            existing = JSON.parse(existingRaw);
          } catch (error) {
            existing = existingRaw === 'granted'
              ? { tracking: true, functional: true }
              : { tracking: false, functional: false };
          }
        }
        let currentConsent = existing;
        if (!existing) {
          setRecaptchaState(false);
          openBanner({ tracking: false, functional: false });
        } else {
          applyConsent(existing);
        }

        acceptButton?.addEventListener('click', () => applyConsent({ tracking: true, functional: true }));
        declineButton?.addEventListener('click', () => applyConsent({ tracking: false, functional: false }));
        saveButton?.addEventListener('click', () => applyConsent({
          tracking: Boolean(trackingInput?.checked),
          functional: Boolean(functionalInput?.checked)
        }));
        manageLink?.addEventListener('click', (event) => {
          event.preventDefault();
          openBanner(currentConsent || { tracking: false, functional: false });
        });
      });
    </script>
  </body>

</html>